/* Page-Wide */
body {
background-color:palevioletred; 
color:white;
padding: 5px;
}

/* Paragraph Context */
.text {
background-color:white;
color:palevioletred;
padding:5px;
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
}
p:first-of-type::first-letter {
    .playball-regular {
        font-family: "Playball", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 4em;
      }      
}

/* "Visit this Website to Read More!" Link */




